<h1>hey post</h1>
<% @posts.each do |post|%>

  <h1><%= link_to post.title, post_path(post.id) %></h1>
  <%= post.name %>
  <%= post.content %>
<% end %>

<a class="edit-post" href="<%= edit_post_path(current_user) %>">
  <button>Edit Post</button>
</a>
